<ng-container *ngIf="products.length != 0">
    <div class="container">
      <div class="card-table">
        <div class="cart-product">
          <table class="table table-responsive">
            <thead>
              <div class="header">
                <h1>My Cart({{ totalItem }})</h1>
              </div>
              <tr>
                <th>Sr. No</th>
                <th>Product Name</th>
                <th>Product Image</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub Total</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of products; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.name }}</td>
                <td>
                  <img
                    class="productadded"
                    src="{{ item.photo }}"
                    alt="where is it"
                  />
                </td>
                <td>{{ item.price | currency: "PHP":"₱" }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.total * item.quantity | currency: "PHP":"₱" }}</td>
                <td>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  
                </td>
              </tr>
              <tr>
                <td colspan="3"></td>
                <td>
                  

                  <button (click)="emptycart()" class="btn btn-danger">
                    Empty Cart
                  </button>
                </td>

                <td>
                  <button routerLink="/" class="btn btn-primary">
                    Shop More
                  </button>
                </td>
                
                <td>
                  <strong>Grand Total : {{ grandTotal | currency: "PHP":"₱" }}</strong>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-container>
  
  <ng-container *ngIf="products.length == 0">
    <div class="container">
      <div class="center">
        <div class="card">
          <h1 class="card-title">My Cart({{ totalItem }})</h1>
        </div>
        <img
          class="emptycartpic"
          src="../../../assets/emptycart.png"
          alt="wheres the pic"
        />
        <h4>Your cart is empty!</h4>
        <h6>Add item to it now</h6>
        <button routerLink="/dashboard" class="btn btn-primary">Shop Now</button>
      </div>
    </div>
  </ng-container>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Remove Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to remove this item from your cart?
        </div>
        <div class="modal-footer" *ngFor="let item of products; let i=index">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="removeItem(item)">Confirm</button>
        </div>
      </div>
    </div>
  </div>