.main-head {
  font-family: "Archivo Black", sans-serif;
  background-image: linear-gradient(to right, #ff9190, #160b03);
  display: flex;
  flex-direction: column;
  height: 120px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.words {
  color: #ebacd2;
  font-size: 0;
  line-height: 1.5;
}

.words span {
  font-size: 5rem;
  display: inline-block;
  animation: move 3s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translate(-30%, 0);
  }
  50% {
    text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
  }
  100% {
    transform: translate(30%, 0);
  }
}

.words span:nth-child(2) {
  animation-delay: 0.5s;
}

.words span:nth-child(3) {
  animation-delay: 1s;
}

.words span:nth-child(4) {
  animation-delay: 1.5s;
}

.words span:nth-child(5) {
  animation-delay: 2s;
}

.words span:nth-child(6) {
  animation-delay: 2.5s;
}

.words span:nth-child(7) {
  animation-delay: 3s;
}

// ======================================
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #ff9190, #160b03);
  max-width: 100%;

  &-head-vid {
    overflow: hidden;
    object-fit: fill;
    color: bisque;
  }
  &-head-text {
    color: #fff;
    overflow: hidden;
    object-fit: fill;
  }
  // ADVERT SPACE
  &-advert {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 650px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  &-advert-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 80%;
    // background: rgb(128, 132, 138);
  }

  &-advert-img-photo {
    background: crimson;
    height: 100%;
    transition: 0.5s ease-in-out;
  }
  &-advert-img-photo:hover {
    transform: translate(30, -40);
  }
  &-advert-vid {
    height: 95.3%;
    width: 100%;
    transition: 0.5s ease;
    // background: rgba(255, 255, 255, 0.05);
  }
  &-advert-vid-video {
    height: 100%;
    width: 100%;
    object-fit: fill;
    opacity: 0.9;
  }
  &-advert-vid-text {
    position: relative;
    bottom: 350px;
    left: 490px;
    opacity: 0;
  }
  &-advert-vid-text button {
    background-color: #18661b;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  }
  &-advert-vid:hover video {
    opacity: 0.1;
  }
  &-advert-vid:hover .main-advert-vid-text {
    opacity: 1;
  }

  // PRODUCTS SPACE
  &-products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #ff9190, #160b03);
    width: 100%;
  }
  &-products-dashboard {
    max-width: 70%;
  }
}
.products {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin: 20px auto;
}

.product {
  display: flex;
  align-items: flex-end;
  width: 450px;
  margin: 10px;
  height: 600px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 4px 3px 11px 6px rgb(278 152 44 / 46%);
    transform: translateY(-3px);
  }

  &-thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 280px;
    color: #fff;
    text-align: center;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  &-thumb {
    max-width: 100%;
    margin: 0 0 20px;
    transition: 0.5s ease-in-out;
  }
  &-thumb:hover {
    transform: translate(-20px, -40px) rotate(-25deg) scale(1.4);
  }

  &-description {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 180px;
    width: 100%;
    color: #fff;
  }

  &-name {
    color: #fff;
    font-weight: 700;
    font-size: 53px;
    margin-bottom: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
  }

  &-platforms {
    display: flex;
  }

  &-platform {
    width: 20px;
    margin-right: 10px;
  }
  img {
    max-height: 100%;
    // margin: center;
    z-index: -1;
  }
}

// ========================================================================
// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: sans-serif;
// }
// section {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
//   background: #232323;
//   overflow: scroll;
//   padding: 100px 20px;
//   box-sizing: border-box;
//   width: auto;
//   height: auto;
// }
// section::before {
//   content: "";
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 50%;
//   height: 50%;
//   background: #ef3b36;
//   clip-path: circle(65% at 100% -20%);
// }
// section::after {
//   content: "";
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 50%;
//   height: 50%;
//   background: #47aafa;
//   clip-path: circle(35% at 0% 100%);
// }
// .container {
//   position: relative;
//   z-index: 10;
//   // display: flex;
//   // flex-direction: row;
//   // justify-content: center;
//   // align-items: center;
//   // flex-wrap: wrap;
// }
// .container .card {
//   position: relative;
//   width: 300px;
//   height: 400px;
//   margin: 20px 40px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: row;
//   background: rgba(255, 255, 255, 0.05);
//   box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
//   backdrop-filter: blur(15px);
// }
// .container .card .imgBx {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: row;
//   padding: 20px;
//   transition: 0.5s ease-in-out;
// }
// .container .card:hover .imgBx {
//   transform: translateY(-100px);
// }
// .container .card .imgBx img {
//   max-width: 100%;
//   margin: 0 0 20px;
//   transition: 0.5s ease-in-out;
// }
// .container .card:hover .imgBx img {
//   transform: translate(-20px, -40px) rotate(-25deg) scale(1.4);
// }
// .container .card .imgBx h2 {
//   color: #fff;
//   font-weight: 600;
// }
// .container .card .content {
//   position: absolute;
//   bottom: 20px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   transition: 0.5s ease-in-out;
//   opacity: 0;
//   visibility: hidden;
// }
// .container .card:hover .content {
//   opacity: 1;
//   visibility: visible;
//   transform: translatY(-50px);
// }
// .container .card .content .size,
// .container .card .content .color {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 8px 20px;
// }
// .container .card .content .size h3,
// .container .card .content .color h3 {
//   color: #fff;
//   font-weight: 300;
//   font-size: 14px;
//   text-transform: uppercase;
//   letter-spacing: 2px;
//   margin-right: 10px;
// }
// .container .card .content .size span {
//   width: 26px;
//   height: 26px;
//   text-align: center;
//   line-height: 24px;
//   display: inline-block;
//   color: #111;
//   background: #fff;
//   border-radius: 4px;
//   font-size: 14px;
//   margin: 0 5px;
//   font-weight: 500;
//   transition: 0.5s;
//   cursor: pointer;
// }
// .container .card .content .size span:hover {
//   background: #9bdc28;
// }
// .container .card .content .color span {
//   width: 20px;
//   height: 20px;
//   background: #f00;
//   border-radius: 50%;
//   margin: 0 5px;
//   border: 2px solid #fff;
//   box-sizing: border-box;
//   cursor: pointer;
// }
// .container .card .content .color span:nth-child(2) {
//   background: #9bdc28;
// }
// .container .card .content .color span:nth-child(3) {
//   background: #9bdc28;
// }
// .container .card .content .color span:nth-child(4) {
//   background: #9bdc28;
// }
// .container .card .content a {
//   position: relative;
//   top: 10px;
//   display: inline-block;
//   padding: 12px 30px;
//   background: #fff;
//   border-radius: 40px;
//   font-weight: 600;
//   letter-spacing: 1px;
//   color: #111;
//   text-decoration: none;
//   text-transform: uppercase;
// }
