<!-- <div class="card">
  <a
    class="card"
    *ngFor="let product of products"
    routerLink="/detail/{{ product.id }}"
  >
    {{ product.name }}
    <ul>
      <li class="imgBx"><img src="{{ product.photo }}" alt="" />dfsa</li>
    </ul>
  </a>
</div> -->
<div class="main">
  <div class="main-head">
    <h1 class="main-head-text">ANIME STUDIOS</h1>
  </div>
  <div class="main-dashboard">
    <div class="products">
      <!--container-->

      <a *ngFor="let product of products" routerLink="/detail/{{ product.id }}">
        <div class="product">
          <!--card-->
          <div class="product-thumb-container">
            <img
              *ngIf="product.photo"
              src="{{ product.photo }}"
              alt="thumbnail"
              class="product-thumbnail"
            />
            <p *ngIf="!product.photo">No image</p>
          </div>

          <div class="product-description">
            <p class="product-name">{{ product.name }}</p>
            <h1>{{ product.averageRating }}</h1>
            <!-- reviews iteration -->
            <div
              class="product-platforms"
              *ngFor="let review of product.reviews; let i = index"
            >
              <li>
                <!-- {{ sum }} -->
              </li>
            </div>
            <!-- reviews iteration -->
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- <section>
  <div class="container">
    <div class="card">
      <div class="imgBx">
        <a
          *ngFor="let product of products"
          routerLink="/detail/{{ product.id }}"
        >
          <img src="{{ product.photo }}" alt="" />
          <h2>{{ product.name }}</h2>
        </a>
      </div>
    </div>
  </div>
</section> -->
