@import "./../../../styles.scss";

$image-height: 600px;
$image-width: 400px;

@mixin product-container() {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

body {
  background-color: $base-color;
}

label {
  color: #435960;
  font-weight: bold;
}

input {
  font-size: 1em;
  padding: 0.5rem;
}

button {
  margin-top: 20px;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}

.img-container {
  min-height: fit-content;
  overflow: hidden;
  padding: 50px;
  img {
    height: $image-height;
    object-fit: cover;
  }
}

.productDetails-container {
  @include product-container();
  min-height: fit-content;
  text-align: center;
  color: $text-color;
}

.reviews-container {
  display: block;
  padding: 5rem 5rem;
  text-align: justify;
}

.addToCart-container {
  align-content: center;
  padding-top: 20px;
}

h1 {
  text-align: center;
  padding-bottom: 0.8em;
  color: $text-color;
}

.description {
  padding-top: 30px;
}

.productName {
  padding-top: 25px;
  font-weight: 800;
}

.reviews {
  border-top: 1px solid $secondary-color;
  color: $text-color;
  font-weight: 300;
  text-align: center;
  padding: 1.2rem;
  padding-top: 1.8rem;
}

.back {
  padding: 30px;
  padding-left: 50px;
  font-weight: 600;
  font-size: 150%;
  color: $primary-color;
}
