<a (click)="goBack()">Back</a>
<div class="productDetails-container">
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 img-container" *ngIf="product" >
          <img src="{{ product.photo }}" alt="hinata" />
      </div>
      <div class="col-sm-6">
        <div *ngIf="product">
          <h2 class="productName" >{{ product.name | uppercase }}</h2>
          <p>id: {{product.id}}</p>
          <p>₱{{product.price}} </p>
          <p>{{product.description}}</p>
      </div>
      <span class="row addToCart-container">
        <button type="button" class="btn btn-outline-warning" routerLink="/addtocart">Add to Cart</button>
  </span>
    </div>
  </div>
  <div class="row reviews-container">
    <h1> Reviews </h1>
    <span *ngIf="product">
      <span *ngFor="let reviews of product">
        {{product.reviews}}
      </span>
    </span>
  </div>
</div>
</div>

