/* HeroDetailComponent's private CSS styles */
$padding-x: 80px;
$side-padding:100px;
$lighter-font-color: #616161;
$image-height: 800px;
$image-width: 400px;

@mixin product-container() {
  display: flex;
  padding: $padding-x;
  padding-left: $side-padding;
  padding-right: $side-padding;
  margin-right: auto;
  margin-left: auto;
}

label {
  color: #435960;
  font-weight: bold;
}

input {
  font-size: 1em;
  padding: 0.5rem;
}

button {
  margin-top: 20px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}

.img-container {
  width:350px;
  height:$image-height;
  overflow:hidden;
  img {
    width: 100%;
    max-width: $image-height;
    max-height: $image-height;
  }
}

.productDetails-container {
  @include product-container();
}

.reviews-container {
  padding: 24px;
  margin-right: auto;
  margin-left: auto;
}

.addToCart-container {
  display: block;
  padding-top: 20px;
}

h1 {
  text-align: center;
}

.description {
  padding-top: 30px;
}

.productName {
  padding-top: 25px;
  font-weight: 800;
}

.reviews {
  color: $lighter-font-color;
  font-weight: 300;
}

h5 {
  font-weight: 600;
}

